REPORT_TO=to@app.dev
REPORT_FROM=from@app.dev

MYSQL_ROOT_PASSWORD=wowhardtoguess
MYSQL_DATABASE=test
MYSQL_USER=test
MYSQL_PASSWORD=test

MAIL_HOST=mailhog
MAIL_ENCRYPTION=none
MAIL_USERNAME=mailhog
MAIL_PASSWORD=password

DB_CONNECTION_STRING=mysql://test:test@db:3306/test

RUST_LOG=debug
RUST_BACKTRACE=1